.background{
    background-image: url('Object.png');
    /* background-position: center; */
    background-size: cover;
}

/* Use Flexbox for the nav list */
.nav-list {
    display: flex;            /* Apply Flexbox to the list */
    list-style: none;          /* Remove bullet points */
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Distribute nav items evenly */
    align-items: center;
  }
  /* Style the links */
.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }
   
  .logo{
    padding-top: 30px;
  }
 
  .first-section{
    margin-top: 130px;
  }

  .school-flex{
    display: flex;
    flex-direction: column;       /* Items are arranged in a row (default) */
    /*justify-content: space-around; /* Distributes items evenly with space around them */
    align-items: center; 
    flex: wrap;
    justify-content: center;        /* Center the item horizontally */
    align-items: center;
    color: white;
    font-size: 50px;
    
   

  }
  .span-flex{
display:flex;
flex-direction: row;
justify-content: center;

  }

  .spanflex1{
    padding-left: 30px;
    padding-right:30px;
    color: white;
  }
  .RegButton{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding-top: 30px;
    
  }
  
  .button1{
    background-color:#C271FF;
    font: Source Sans Pro;
    color: white;
    text-align:center;
    Height: 44px;
    Width: 162px;
    border-Radius: 22px;
    border: none;
    
  }
  .SecText{
    text-align: center;
    font-size: 32px;
    color:white;
    Line Height: 40.22px;
    font-weight: 300;
    padding-top: 100px;
  }

  .secimages{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 32px;
    
  }

  .avata{
    width: 150px;                /* Width of the avatar */
            height: 150px;               /* Height of the avatar (equal to width for a circle) */
            border-radius: 50%;          /* Makes the image circular */
            object-fit: cover;           /* Ensures the image covers the box without distortion */
            border: 2px solid #4CAF50;  
  }